
body {
  margin: 0;
  background-color: #050505; /* Deep black background */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#k0bal {
  position: relative;
  width: 200px;
  height: 250px;
  background: #111;
  border-radius: 40% 40% 50% 50%;
  box-shadow: 0 0 40px #000;
  z-index: 1;
}

.eye-socket {
  position: absolute;
  top: 30%;
  width: 60px;
  height: 40px;
  background: #000;
  border-radius: 50%;
}

.left { left: 15%; }
.right { right: 15%; }

.eye-glow {
  position: absolute;
  width: 20px;
  height: 20px;
  background: radial-gradient(circle, #ff0000, #440000);
  border-radius: 50%;
  box-shadow: 0 0 15px #ff0000;
  top: 10px;
  left: 20px;
}
